.profile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 40px;
    background: rgba(0,0,0,0.9);
    box-shadow: 0 15px 25px rgba(0,0,0,0.6);
    border-radius: 10px;
    color: #fff;
}

.profile h1 {
    text-align: center;
}

.profile-picture {
    text-align: center;
}

.profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile-info {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 5px;
    border: none;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background: #45a049;
}

.voltar {
    text-align: center;
    margin-top: 20px;
    
    
}

.voltar a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.voltar a:hover {
    text-decoration: underline;
}
